@mixin responsiveSize() {
  @media (width<=940px) {
    /* Styles that are always applied */
    .section1 {
      .hero {
        .left {
          //   max-width: 50vw;
          img {
            width: 80%;
            transition: all 1s;

            // height: 60% !important;
          }
        }
        .right {
          //   max-width: 50vw;
          div {
            .name {
              font-size: 3rem !important;
              transition: all 1s;
            }
            .tag {
              font-size: 1.5rem !important;
              transition: all 1s;
            }
          }
        }
      }
    }
    .section2 {
      .info-container {
        max-width: 95% !important;
        transition: all 0.5s ease-out;
        // .info-lists {
        //   //   flex-direction: column;
        //   //   justify-content: space-between !important;
        //   .info-content {
        //     .icon-container {
        //       width: 2rem !important;
        //       height: 2rem !important;
        //       i {
        //         font-size: 0.8rem;
        //       }
        //     }
        //     span {
        //       h5 {
        //         font-weight: bolder;
        //         letter-spacing: 2px;
        //         font-size: 0.6rem;
        //       }
        //       p {
        //         color: var(--color-yellow);
        //         font-size: 0.7rem;
        //       }
        //     }
        //   }
        // }
      }
    }
    .section5 {
      .about-container {
        flex-direction: column;
        align-items: center;
        padding: 3rem;
        justify-content: center;

        .left {
          width: 80% !important;
        }

        .right {
          gap: 3rem;
          align-items: center !important;

          width: 80% !important;

          h2 {
            font-size: 3.5rem;
          }

          div {
            &:nth-child(5) {
              flex-direction: column;
              align-items: center;
            }
          }
        }
      }
    }

    @content; /* Placeholder for additional styles */
  }
  @media (width<=550px) {
    // body {
    //   background: green;
    // }
    .section1 {
      .hero {
        .left {
          //   max-width: 50vw;
          img {
            width: 70%;
            // height: 60% !important;
          }
        }
        .right {
          //   max-width: 50vw;
          div {
            .name {
              font-size: 2rem !important;
            }
            .tag {
              font-size: 1.1rem !important;
            }
          }
          button {
            padding: 0.3rem 0.5rem !important;
          }
        }
      }
    }
    .section2 {
      .info-container {
        max-width: 80% !important;

        border-radius: 50px !important;
        transition: all 0.5s ease-out;

        .info-lists {
          flex-direction: column;
          justify-content: center !important;
          align-items: flex-start !important;

          .info-divider {
            display: none;
          }
        }
      }
    }
    .section6 {
      .socials {
        padding: 3rem !important;

        i {
          font-size: 3rem !important;
        }
      }
      .email-section {
        padding: 0.5rem 1rem !important;
      }
    }
    @content;
  }
}
